#component-header{
    width: 100vw;
    height: 5rem;
    padding: 0 4.0rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #D5131E;
}

#component-header h1{
    color: #ffffff;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.buttons button{
    border: none;
    background: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 2.0rem;
    margin-right: 1rem;
    transition: opacity 0.2s;
}
.buttons button:hover{
    opacity: 0.9;
}